<launch>
    <arg name="use_sim" default="false" doc="flag to start dxls in simulation"/>
    <include file="$(find dynamixel_control)/launch/trajectory_control.launch">
      <arg name="use_sim" value="$(arg use_sim)"/>
    </include>
    <rosparam command="load" file="$(find moveit_snake)/config/joint_names.yaml"/>
    <include file="$(find moveit_snake)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find moveit_snake)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
    </include>

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
    </node> -->

    <include file="$(find moveit_snake)/launch/moveit_rviz.launch">
      <arg name="rviz_config" value="$(find moveit_snake)/launch/cfg.rviz"/>
    </include>
</launch>
