<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="use_sim" default="false" doc="flag to start dxls in simulation"/>
  <rosparam file="$(find dynamixel_control)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find dynamixel_control)/config/joint_limits.yaml" command="load"/>
  <rosparam file="$(find dynamixel_control)/config/config.yaml" command="load"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/moveit_robot.xacro'" />
  
  
  <node name="control_loop" pkg="dynamixel_control" type="control_loop" output="screen">
      <param name="use_sim" value="$(arg use_sim)"/>
  </node>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /snake/joint_states
            /snake/joint1_controller
            /snake/joint2_controller
            /snake/joint3_controller
            /snake/joint4_controller
            /snake/joint5_controller"
    />
</launch>
